In [1]:
# Import dependencies
import pandas as pd

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Read the CSV and Perform Basic Data Cleaning

In [2]:
# Read in data
df = pd.read_csv("csv_output/claims_summary_uspc_df.csv")

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df.dropna(how='all')
df.head()

,Unnamed: 0,patent_number,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
0,0,RE30349,220,6,3782,23649,630,3942
1,1,RE30153,144,14,3194,19884,228,1420
2,2,RE30744,365,10,2679,18543,268,1854
3,3,RE29796,194,6,1114,7151,186,1192
4,4,RE30870,137,9,1762,11244,196,1249

In [3]:
df.count()

Unnamed: 0                   14945
patent_number                14945
uspc_class                   14945
claim_no                     14945
total_word_ct                14945
total_char_ct                14945
average_word_ct_eachclaim    14945
average_char_ct_eachclaim    14945
dtype: int64

In [4]:
df.dtypes

Unnamed: 0                    int64
patent_number                object
uspc_class                   object
claim_no                      int64
total_word_ct                 int64
total_char_ct                 int64
average_word_ct_eachclaim     int64
average_char_ct_eachclaim     int64
dtype: object

In [5]:
print(df["uspc_class"].unique())

['220' '144' '365' '194' '137' '000' '435' '156' '340' '423' '425' '219'
 '428' '062' '131' '222' '307' '074' '128' '176' '148' '356' '123' '209'
 '270' '364' '114' '271' '361' '051' '260' '073' '008' '313' '525' '249'
 '166' '055' '214' '033' '264' '426' '030' '046' '132' '101' '060' '324'
 '315' '029' '072' '503' '250' '277' '999' '215' '358' '241' '061' '430'
 '273' '424' '075' '164' '210' '357' '119' '429' '604' '536' '303' '023'
 '285' '206' '198' '354' '474' '057' '070' '047' '208' '562' '310' '564'
 '523' '367' '254' '104' '418' '227' '308' '252' '200' '052' '228' '162'
 '290' '174' '028' '106' '325' '544' '528' '040' '414' '239' '244' '192'
 '034' '427' '017' '152' '343' '560' '014' '318' '083' '294' '177' '280'
 '112' '542' '011' '350' '053' '378' '339' 'PLT' '108' '016' '160' '175'
 '187' '346' '135' '272' '096' '233' '056' '422' '433' '024' '410' '415'
 '013' '297' '382' '403' '032' '091' '204' '355' '236' '071' '179' '134'
 '099' '085' '140' '065' '362' '526' '180' '455' '360' '404' '546' '368'
 '436' '405' '044' '118' '165' '138' '242' '038' '100' '330' '084' '111'
 '141' '369' '126' '292' '372' '225' '267' '093' '064' '136' '323' '352'
 '068' '366' '036' '351' '238' '092' '299' '417' '003' '521' '248' '188'
 '400' '081' '066' '172' '401' '124' '335' '211' '237' '493' '416' '110'
 '266' '434' '235' '178' '157' '015' '322' '408' '229' '182' '005' '431'
 '105' '338' '549' '037' '370' '004' '312' '043' '142' '556' '102' '082'
 '464' '002' '251' '139' '406' '076' '524' '261' '384' '059' '446' '336'
 '376' '086' '296' '407' '514' '419' '246' '190' '411' '202' '125' '181'
 '374' '548' '441' '494' '530' '432' '363' '226' '375' '381' '048' '331'
 '150' '159' '333' '049' '502' '568' '371' '501' '212' '007' '623' '019'
 '439' '332' '173' '383' '585' '379' '223' '342' '540' '221' '377' '256'
 '440' '122' '224' '116' '453' '149' '269' '282' '337' '413' '409' '438'
 '341' '203' '293' '552' '606' '054' '127' '388' '359' '395' '475' '392'
 '283' '348' '445' '109' '380' '301' '353' '027' '257' '713' '482' '385'
 '345' '462' '213' '452' '602' '600' '305' '205' '711' '095' '042' '402'
 '505' '558' '300' '420' '510' '184' '298' '504' '117' '349' '327' '507'
 '708' '473' '470' '607' '570' '193' '454' '326' '522' '373' '534' '320'
 '442' '463' '279' '588' '554' '396' '399' '706' '063' '386' '800' '186'
 '169' '712' '704' '347' '714' '707' '089' '450' '705' '710' '451' '196'
 '709' '701' '700' '725' '477' '012' '702' '512' '518' '717' '508' '483'
 '715' '716' '726' '216' '720' '601' '516' '472' '329' '476' '719' '398'
 '718' '291' '700.0' '382.0' '370.0' '713.0' '365.0' '55.0' '718.0'
 '709.0' '379.0' '514.0' '81.0' '62.0' '348.0' '369.0' '137.0' '455.0'
 '428.0' '264.0' '358.0' '711.0' '717.0' '375.0' '600.0' '296.0' '706.0'
 '705.0' '340.0' '250.0' '439.0' '4.0' '712.0' '714.0' '708.0' '381.0'
 '429.0' '710.0' '435.0' '702.0' '239.0' '345.0' '703' '426.0' '359.0'
 '349.0' '257.0' '313.0' '475.0' '210.0' '254.0' '463.0' '385.0' '307.0'
 '386.0' '134.0' '438.0' '297.0' '602.0' '399.0' '607.0' '726.0' '5.0'
 '362.0' '430.0' '560.0' '701.0' '707.0' '315.0' '544.0' '703.0' '405.0'
 '331.0' '436.0' '166.0' '323.0' '380.0' '367.0' '361.0' '716.0' '493.0'
 '424.0' '477.0' '725.0' '205.0' '356.0' '363.0' '715.0' '248.0' '342.0'
 '604.0' '383.0' '106.0' '128.0' '374.0' '291.0' '123.0' '564.0' '623.0'
 '156.0' '2.0' '704.0' '219.0' '396.0' '392.0' '320.0' '42.0' '290.0'
 '606.0' '341.0' '204.0' '351.0' '84.0' '148.0' '324.0' '47.0' '525.0'
 '206.0' '398.0' '330.0' '526.0' '60.0' '174.0' '568.0' '111.0' '15.0'
 '355.0' '376.0' '223.0' '83.0' '252.0' '227.0' '241.0' '347.0' '29.0'
 '360.0' '327.0' '164.0' '427.0' '169.0' '303.0' '220.0' '235.0' '719.0'
 '37.0' '378.0' '343.0' '353.0' '52.0' '524.0' '138.0' '326.0' '536.0'
 '112.0' '124.0' '425.0' '173.0' '570.0' '800.0' '372.0' '271.0' '464.0'
 '216.0' '270.0' '200.0' '585.0' '521.0' '377.0' '523.0' '301.0' '368.0'
 '850.0' 'D14' 'D27' 'D10' 'D21' 'D13' 'D08' 'D24' 'D11' 'D26' 'D07' 'D23'
 'D34' 'D17' 'D02' 'D09' 'D15' 'D19' 'D29' 'D03' 'D20' 'D16' 'D04' 'D06'
 'D18']

In [6]:
df = df[['uspc_class', 'claim_no', 'total_word_ct', 'total_char_ct', 'average_word_ct_eachclaim', 'average_char_ct_eachclaim']]

In [7]:
display(df)

,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
0,220,6,3782,23649,630,3942
1,144,14,3194,19884,228,1420
2,365,10,2679,18543,268,1854
3,194,6,1114,7151,186,1192
4,137,9,1762,11244,196,1249
...,...,...,...,...,...,...
14940,D15,1,12,74,12,74
14941,D15,1,12,74,12,74
14942,D18,1,11,66,11,66
14943,D09,1,10,59,10,59
14944,D26,1,10,58,10,58

In [8]:
# Electrical communications and drug uspc_class
df_limited_uspc = df.loc[(df["uspc_class"] == "370") | (df["uspc_class"] == "345") | (df["uspc_class"] == "514"), :]
df_limited_uspc

,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
957,370,18,1047,7479,58,416
1266,370,13,4772,30552,367,2350
1274,514,35,595,7727,17,221
1277,370,29,2185,14492,75,500
1516,370,16,1617,11390,101,712
...,...,...,...,...,...,...
14652,370,15,956,6208,64,414
14654,345,40,2732,15666,68,392
14791,370,22,1291,7875,59,358
14792,345,28,2005,12222,72,436
14801,370,8,833,5186,104,648

# Select features (columns)

In [9]:
# Set X equal to the entire data set, except for the first column
X = df_limited_uspc.iloc[:,1:]

# Set y equal to the first column
y = df_limited_uspc.iloc[:,0]

In [10]:
y.value_counts()

370    348
514    293
345    158
Name: uspc_class, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [12]:
# Search for top 10 features according to feature importances
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)
# model.feature_importances_

0.52

In [13]:
# Search for top 10 features according to feature importances
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X,y)
# model.score(X,y)
model.feature_importances_

array([0.15032694, 0.22750054, 0.1876341 , 0.23390579, 0.20063263])

In [14]:
# Store the top 5 features as a series, using the column headers as the index
feat_imp = pd.Series(model.feature_importances_, index=X.columns).nlargest(5)
feat_imp

average_word_ct_eachclaim    0.233906
total_word_ct                0.227501
average_char_ct_eachclaim    0.200633
total_char_ct                0.187634
claim_no                     0.150327
dtype: float64

In [15]:
# Set features based on feature importances
X = df_limited_uspc[feat_imp.index]

# Use uspc_class for y values
y = df_limited_uspc['uspc_class']

# Create a Train Test Split

In [16]:
X

,average_word_ct_eachclaim,total_word_ct,average_char_ct_eachclaim,total_char_ct,claim_no
957,58,1047,416,7479,18
1266,367,4772,2350,30552,13
1274,17,595,221,7727,35
1277,75,2185,500,14492,29
1516,101,1617,712,11390,16
...,...,...,...,...,...
14652,64,956,414,6208,15
14654,68,2732,392,15666,40
14791,59,1291,358,7875,22
14792,72,2005,436,12222,28
14801,104,833,648,5186,8

In [17]:
y

957      370
1266     370
1274     514
1277     370
1516     370
        ...
14652    370
14654    345
14791    370
14792    345
14801    370
Name: uspc_class, Length: 799, dtype: object

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)
# X_train, X_test, y_train, y_test = train_test_split(X, y)

# Pre-processing

Scale the data using the MinMaxScaler

In [19]:
from sklearn.preprocessing import MinMaxScaler

# Create scaler object
X_scaler = MinMaxScaler().fit(X_train)

# Scale training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Train the Model
Using Random Forest

In [20]:
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier

In [21]:
y

957      370
1266     370
1274     514
1277     370
1516     370
        ...
14652    370
14654    345
14791    370
14792    345
14801    370
Name: uspc_class, Length: 799, dtype: object

In [22]:
y_test

9100     514
13794    370
8518     345
4989     514
13209    514
        ...
6789     514
13490    370
12376    370
5154     514
8124     514
Name: uspc_class, Length: 200, dtype: object

In [23]:
clf = GradientBoostingClassifier(n_estimators=2000, learning_rate=0.001, max_depth=3, random_state=0).fit(X_train_scaled, y_train)

In [24]:
# ??GradientBoostingClassifier

In [25]:
# Score the model
print(f"Training Data Score: {clf.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {clf.score(X_test_scaled, y_test)}")

Training Data Score: 0.7078464106844741
Testing Data Score: 0.655

# Predict

In [26]:
predictions = clf.predict(X_test_scaled)
df_pred = pd.DataFrame({"Actual":y_test, "Predicted":predictions}) 
pd.set_option("display.max_rows", None, "display.max_columns", None)
df_pred

      Actual Predicted
9100     514       370
13794    370       370
8518     345       370
4989     514       514
13209    514       514
10928    514       514
6690     370       345
12485    370       370
8709     514       370
2140     514       514
7445     514       514
9906     345       370
3952     370       370
11798    370       370
2142     370       370
12284    370       370
12973    370       370
11863    345       370
7433     370       370
4855     514       514
8599     345       370
9730     370       370
2265     514       370
2800     514       514
12046    345       370
13948    370       370
13964    370       370
8889     370       370
4950     370       370
13429    370       370
13804    370       370
11787    345       370
9706     514       514
13444    370       370
6447     370       370
2263     370       370
13021    514       514
7304     345       370
9043     345       345
6292     514       514
11670    370       370
9989     370       370
8945     514       514
7534     514       514
8136     345       370
4310     514       370
7577     514       514
8024     370       370
6628     345       370
13246    370       370
10182    514       370
9040     370       370
7983     370       370
13537    370       514
9362     345       370
12543    370       370
9383     345       370
8954     345       370
5705     514       514
13187    370       370
9901     345       370
14801    370       370
8829     514       514
957      370       370
7785     514       514
13424    370       370
5174     345       370
11029    370       370
9526     514       370
6294     345       370
10949    370       370
7167     514       514
7296     370       514
6955     514       514
10943    370       370
4068     514       514
5717     345       370
12471    370       370
9082     345       370
11276    514       514
11472    370       370
12478    370       370
9069     514       514
12309    370       370
9808     514       370
7611     514       514
9561     514       370
8333     514       370
10881    345       370
11543    370       370
8070     345       370
5242     514       514
3709     514       514
11839    514       370
13148    370       370
10924    370       370
10997    345       370
9922     370       345
1622     514       514
9518     370       370
8232     345       370
10910    514       514
6045     514       514
10190    514       370
9958     370       370
13386    370       370
11448    370       370
7707     345       370
8694     514       514
7843     370       370
5094     514       370
8387     370       370
14576    370       370
6404     370       370
4482     514       514
14240    345       370
12991    370       370
12063    370       370
10675    370       370
4332     514       514
11800    345       370
7497     345       370
11495    370       370
4409     514       514
11046    370       370
11463    370       370
8259     514       514
6280     345       370
8559     370       370
13069    514       514
13243    370       370
6805     514       514
12558    370       370
12484    370       370
4770     514       370
12541    370       370
6866     514       514
5354     514       514
8192     514       514
7763     514       514
8301     514       370
10518    514       514
7818     370       370
12334    345       370
5241     514       514
9323     345       370
10959    370       370
2594     514       514
7876     514       370
9031     345       370
6278     370       514
5702     345       514
9766     370       370
11308    370       514
3793     514       370
13186    370       370
13937    370       514
6451     370       370
11011    370       370
10787    370       370
7640     514       514
10158    370       370
8639     514       514
9329     370       370
11548    345       370
6854     345       370
4245     370       345
2079     514       514
7730     514       514
11536    370       370
9580     345       370
3412     514       514
11554    370       370
9558     370       370
1840     514       514
6569     514       514
8963     514       370
7069     370       514
12574    345       370
9022     370       370
8440     514       370
7311     345       370
7068     345       370
7532     345       514
9564     345       370
8260     514       514
9774     370       370
13582    370       514
12323    370       370
10125    370       370
8607     514       370
4113     514       370
11752    370       370
11537    345       370
9639     514       514
6789     514       514
13490    370       370
12376    370       370
5154     514       514
8124     514       514

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
from sklearn.model_selection import GridSearchCV

# Create the GridSearchCV model
param_grid = {'n_estimators':[1, 2, 4, 6, 8],
             'max_depth':[5, 8, 15, 25, 30],
             'min_samples_split':[2, 5, 10],
             'min_samples_leaf':[1, 2, 4]}

grid = GridSearchCV(rf, param_grid, verbose=3)

In [ ]:
# Train the model with GridSearch
best_model = grid.fit(X_train_scaled, y_train)

In [ ]:
print(best_model.best_params_)
print(best_model.best_score_)

In [ ]:
# Make predictions
grid_predictions = best_model.predict(X_test_scaled)
df_grid = pd.DataFrame({"Actual":y_test, "Predicted":grid_predictions})
df_grid

In [ ]:
# Score the model
best_model.score(X_test_scaled, y_test)

In [ ]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, grid_predictions))