In [1]:
# Import dependencies
import pandas as pd

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Read the CSV and Perform Basic Data Cleaning

In [2]:
# Read in data
df = pd.read_csv("csv_output/claims_summary_uspc_df.csv")

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df.dropna(how='all')
df.head()

,Unnamed: 0,patent_number,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
0,0,RE30349,220,6,3782,23649,630,3942
1,1,RE30153,144,14,3194,19884,228,1420
2,2,RE30744,365,10,2679,18543,268,1854
3,3,RE29796,194,6,1114,7151,186,1192
4,4,RE30870,137,9,1762,11244,196,1249

In [3]:
df.count()

Unnamed: 0                   14945
patent_number                14945
uspc_class                   14945
claim_no                     14945
total_word_ct                14945
total_char_ct                14945
average_word_ct_eachclaim    14945
average_char_ct_eachclaim    14945
dtype: int64

In [4]:
df.dtypes

Unnamed: 0                    int64
patent_number                object
uspc_class                   object
claim_no                      int64
total_word_ct                 int64
total_char_ct                 int64
average_word_ct_eachclaim     int64
average_char_ct_eachclaim     int64
dtype: object

In [5]:
print(df["uspc_class"].unique())

['220' '144' '365' '194' '137' '000' '435' '156' '340' '423' '425' '219'
 '428' '062' '131' '222' '307' '074' '128' '176' '148' '356' '123' '209'
 '270' '364' '114' '271' '361' '051' '260' '073' '008' '313' '525' '249'
 '166' '055' '214' '033' '264' '426' '030' '046' '132' '101' '060' '324'
 '315' '029' '072' '503' '250' '277' '999' '215' '358' '241' '061' '430'
 '273' '424' '075' '164' '210' '357' '119' '429' '604' '536' '303' '023'
 '285' '206' '198' '354' '474' '057' '070' '047' '208' '562' '310' '564'
 '523' '367' '254' '104' '418' '227' '308' '252' '200' '052' '228' '162'
 '290' '174' '028' '106' '325' '544' '528' '040' '414' '239' '244' '192'
 '034' '427' '017' '152' '343' '560' '014' '318' '083' '294' '177' '280'
 '112' '542' '011' '350' '053' '378' '339' 'PLT' '108' '016' '160' '175'
 '187' '346' '135' '272' '096' '233' '056' '422' '433' '024' '410' '415'
 '013' '297' '382' '403' '032' '091' '204' '355' '236' '071' '179' '134'
 '099' '085' '140' '065' '362' '526' '180' '455' '360' '404' '546' '368'
 '436' '405' '044' '118' '165' '138' '242' '038' '100' '330' '084' '111'
 '141' '369' '126' '292' '372' '225' '267' '093' '064' '136' '323' '352'
 '068' '366' '036' '351' '238' '092' '299' '417' '003' '521' '248' '188'
 '400' '081' '066' '172' '401' '124' '335' '211' '237' '493' '416' '110'
 '266' '434' '235' '178' '157' '015' '322' '408' '229' '182' '005' '431'
 '105' '338' '549' '037' '370' '004' '312' '043' '142' '556' '102' '082'
 '464' '002' '251' '139' '406' '076' '524' '261' '384' '059' '446' '336'
 '376' '086' '296' '407' '514' '419' '246' '190' '411' '202' '125' '181'
 '374' '548' '441' '494' '530' '432' '363' '226' '375' '381' '048' '331'
 '150' '159' '333' '049' '502' '568' '371' '501' '212' '007' '623' '019'
 '439' '332' '173' '383' '585' '379' '223' '342' '540' '221' '377' '256'
 '440' '122' '224' '116' '453' '149' '269' '282' '337' '413' '409' '438'
 '341' '203' '293' '552' '606' '054' '127' '388' '359' '395' '475' '392'
 '283' '348' '445' '109' '380' '301' '353' '027' '257' '713' '482' '385'
 '345' '462' '213' '452' '602' '600' '305' '205' '711' '095' '042' '402'
 '505' '558' '300' '420' '510' '184' '298' '504' '117' '349' '327' '507'
 '708' '473' '470' '607' '570' '193' '454' '326' '522' '373' '534' '320'
 '442' '463' '279' '588' '554' '396' '399' '706' '063' '386' '800' '186'
 '169' '712' '704' '347' '714' '707' '089' '450' '705' '710' '451' '196'
 '709' '701' '700' '725' '477' '012' '702' '512' '518' '717' '508' '483'
 '715' '716' '726' '216' '720' '601' '516' '472' '329' '476' '719' '398'
 '718' '291' '700.0' '382.0' '370.0' '713.0' '365.0' '55.0' '718.0'
 '709.0' '379.0' '514.0' '81.0' '62.0' '348.0' '369.0' '137.0' '455.0'
 '428.0' '264.0' '358.0' '711.0' '717.0' '375.0' '600.0' '296.0' '706.0'
 '705.0' '340.0' '250.0' '439.0' '4.0' '712.0' '714.0' '708.0' '381.0'
 '429.0' '710.0' '435.0' '702.0' '239.0' '345.0' '703' '426.0' '359.0'
 '349.0' '257.0' '313.0' '475.0' '210.0' '254.0' '463.0' '385.0' '307.0'
 '386.0' '134.0' '438.0' '297.0' '602.0' '399.0' '607.0' '726.0' '5.0'
 '362.0' '430.0' '560.0' '701.0' '707.0' '315.0' '544.0' '703.0' '405.0'
 '331.0' '436.0' '166.0' '323.0' '380.0' '367.0' '361.0' '716.0' '493.0'
 '424.0' '477.0' '725.0' '205.0' '356.0' '363.0' '715.0' '248.0' '342.0'
 '604.0' '383.0' '106.0' '128.0' '374.0' '291.0' '123.0' '564.0' '623.0'
 '156.0' '2.0' '704.0' '219.0' '396.0' '392.0' '320.0' '42.0' '290.0'
 '606.0' '341.0' '204.0' '351.0' '84.0' '148.0' '324.0' '47.0' '525.0'
 '206.0' '398.0' '330.0' '526.0' '60.0' '174.0' '568.0' '111.0' '15.0'
 '355.0' '376.0' '223.0' '83.0' '252.0' '227.0' '241.0' '347.0' '29.0'
 '360.0' '327.0' '164.0' '427.0' '169.0' '303.0' '220.0' '235.0' '719.0'
 '37.0' '378.0' '343.0' '353.0' '52.0' '524.0' '138.0' '326.0' '536.0'
 '112.0' '124.0' '425.0' '173.0' '570.0' '800.0' '372.0' '271.0' '464.0'
 '216.0' '270.0' '200.0' '585.0' '521.0' '377.0' '523.0' '301.0' '368.0'
 '850.0' 'D14' 'D27' 'D10' 'D21' 'D13' 'D08' 'D24' 'D11' 'D26' 'D07' 'D23'
 'D34' 'D17' 'D02' 'D09' 'D15' 'D19' 'D29' 'D03' 'D20' 'D16' 'D04' 'D06'
 'D18']

In [6]:
df = df[['uspc_class', 'claim_no', 'total_word_ct', 'total_char_ct', 'average_word_ct_eachclaim', 'average_char_ct_eachclaim']]

In [7]:
display(df)

,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
0,220,6,3782,23649,630,3942
1,144,14,3194,19884,228,1420
2,365,10,2679,18543,268,1854
3,194,6,1114,7151,186,1192
4,137,9,1762,11244,196,1249
...,...,...,...,...,...,...
14940,D15,1,12,74,12,74
14941,D15,1,12,74,12,74
14942,D18,1,11,66,11,66
14943,D09,1,10,59,10,59
14944,D26,1,10,58,10,58

In [8]:
# All electrical communications uspc_class
df_limited_uspc = df.loc[(df["uspc_class"] == "370") | (df["uspc_class"] == "709") | (df["uspc_class"] == "345"), :]
df_limited_uspc

,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
957,370,18,1047,7479,58,416
1266,370,13,4772,30552,367,2350
1277,370,29,2185,14492,75,500
1516,370,16,1617,11390,101,712
1653,370,15,2009,14170,134,945
...,...,...,...,...,...,...
14654,345,40,2732,15666,68,392
14657,709,19,1517,9427,80,496
14791,370,22,1291,7875,59,358
14792,345,28,2005,12222,72,436
14801,370,8,833,5186,104,648

# Select features (columns)

In [9]:
# Set X equal to the entire data set, except for the first column
X = df_limited_uspc.iloc[:,1:]

# Set y equal to the first column
y = df_limited_uspc.iloc[:,0]

In [10]:
y.value_counts()

370    348
709    162
345    158
Name: uspc_class, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [12]:
# Search for top 10 features according to feature importances
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)
# model.feature_importances_

0.40718562874251496

In [13]:
# Search for top 10 features according to feature importances
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X,y)
# model.score(X,y)
model.feature_importances_

array([0.17416771, 0.20945185, 0.20973277, 0.19934493, 0.20730274])

In [14]:
# Store the top 5 features as a series, using the column headers as the index
feat_imp = pd.Series(model.feature_importances_, index=X.columns).nlargest(5)
feat_imp

total_char_ct                0.209733
total_word_ct                0.209452
average_char_ct_eachclaim    0.207303
average_word_ct_eachclaim    0.199345
claim_no                     0.174168
dtype: float64

In [15]:
# Set features based on feature importances
X = df_limited_uspc[feat_imp.index]

# Use uspc_class for y values
y = df_limited_uspc['uspc_class']

# Create a Train Test Split

In [16]:
X

,total_char_ct,total_word_ct,average_char_ct_eachclaim,average_word_ct_eachclaim,claim_no
957,7479,1047,416,58,18
1266,30552,4772,2350,367,13
1277,14492,2185,500,75,29
1516,11390,1617,712,101,16
1653,14170,2009,945,134,15
...,...,...,...,...,...
14654,15666,2732,392,68,40
14657,9427,1517,496,80,19
14791,7875,1291,358,59,22
14792,12222,2005,436,72,28
14801,5186,833,648,104,8

In [17]:
y

957      370
1266     370
1277     370
1516     370
1653     370
        ...
14654    345
14657    709
14791    370
14792    345
14801    370
Name: uspc_class, Length: 668, dtype: object

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)
# X_train, X_test, y_train, y_test = train_test_split(X, y)

# Pre-processing

Scale the data using the MinMaxScaler

In [19]:
from sklearn.preprocessing import MinMaxScaler

# Create scaler object
X_scaler = MinMaxScaler().fit(X_train)

# Scale training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Train the Model
Using Random Forest

In [20]:
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier

In [21]:
y

957      370
1266     370
1277     370
1516     370
1653     370
        ...
14654    345
14657    709
14791    370
14792    345
14801    370
Name: uspc_class, Length: 668, dtype: object

In [22]:
y_test

9583     370
14340    370
12441    345
9364     345
13102    345
        ...
8961     370
11207    345
7681     709
11670    370
10959    370
Name: uspc_class, Length: 167, dtype: object

In [23]:
clf = GradientBoostingClassifier(n_estimators=2000, learning_rate=0.001, max_depth=3, random_state=0).fit(X_train_scaled, y_train)

In [24]:
# ??GradientBoostingClassifier

In [25]:
# Score the model
print(f"Training Data Score: {clf.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {clf.score(X_test_scaled, y_test)}")

Training Data Score: 0.6107784431137725
Testing Data Score: 0.48502994011976047

# Predict

In [26]:
predictions = clf.predict(X_test_scaled)
df_pred = pd.DataFrame({"Actual":y_test, "Predicted":predictions}) 
pd.set_option("display.max_rows", None, "display.max_columns", None)
df_pred

      Actual Predicted
9583     370       709
14340    370       370
12441    345       370
9364     345       370
13102    345       370
9558     370       370
8136     345       370
8449     345       370
6676     345       370
13429    370       370
9836     370       370
12373    709       370
12959    370       370
6359     370       370
11876    709       370
9822     345       370
13114    370       370
10264    370       370
14203    709       370
10158    370       370
12538    709       370
10815    370       370
12652    370       370
7311     345       370
14240    345       370
11472    370       370
6568     370       345
9652     709       370
5740     345       370
6370     345       709
8267     370       370
11183    709       370
10784    709       370
10851    709       370
10573    709       370
13616    345       370
10881    345       370
8933     709       370
9338     345       370
7632     709       370
7609     370       370
8094     345       709
13947    370       370
11045    370       370
14013    370       370
8479     370       370
7843     370       370
10107    345       370
13424    370       370
6742     345       370
12467    370       370
11752    370       370
7367     709       370
11156    370       370
9642     709       709
13246    370       370
7101     370       370
11676    370       370
11457    370       370
13490    370       370
12926    709       370
9043     345       370
10976    370       370
10793    370       370
9997     370       370
12536    345       370
9595     370       370
12284    370       370
7668     709       370
13444    370       370
12558    370       370
7528     709       370
11537    345       370
13134    709       370
6280     345       370
7304     345       370
14657    709       370
10731    370       370
11298    709       370
9661     345       370
10639    345       370
11474    709       370
14310    709       370
9038     370       370
11046    370       370
7983     370       370
9492     370       345
12911    709       370
8142     370       370
1266     370       370
9656     709       370
13955    370       370
7433     370       370
9082     345       370
11539    345       345
11482    370       370
12450    709       370
12922    370       370
8437     370       370
8584     345       370
8868     345       370
9535     370       370
10792    709       370
14535    709       370
9319     345       370
14210    370       370
8327     709       370
10787    370       370
9643     370       370
14137    370       370
9580     345       370
14576    370       370
9922     370       370
11076    370       370
8599     345       370
11082    709       370
5452     709       370
9357     370       370
11463    370       370
11548    345       370
11823    709       370
13160    709       370
14155    709       370
3545     345       370
12528    370       370
13142    709       370
10109    345       370
1660     370       370
5892     345       370
11133    709       370
4336     370       370
13131    370       370
9454     370       370
1516     370       370
12072    370       370
7259     709       370
3952     370       370
11533    370       370
11780    370       370
13816    370       370
14791    370       370
11044    370       345
10951    370       370
8889     370       370
11787    345       370
10174    370       370
12304    370       370
8539     345       370
12997    709       370
10337    370       370
7698     709       370
957      370       370
10586    709       370
6278     370       709
5841     370       370
9286     709       370
8471     370       370
12547    370       370
6003     345       370
13234    370       709
11508    709       370
10944    370       370
8961     370       345
11207    345       370
7681     709       370
11670    370       370
10959    370       709

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
from sklearn.model_selection import GridSearchCV

# Create the GridSearchCV model
param_grid = {'n_estimators':[1, 2, 4, 6, 8],
             'max_depth':[5, 8, 15, 25, 30],
             'min_samples_split':[2, 5, 10],
             'min_samples_leaf':[1, 2, 4]}

grid = GridSearchCV(rf, param_grid, verbose=3)

In [ ]:
# Train the model with GridSearch
best_model = grid.fit(X_train_scaled, y_train)

In [ ]:
print(best_model.best_params_)
print(best_model.best_score_)

In [ ]:
# Make predictions
grid_predictions = best_model.predict(X_test_scaled)
df_grid = pd.DataFrame({"Actual":y_test, "Predicted":grid_predictions})
df_grid

In [ ]:
# Score the model
best_model.score(X_test_scaled, y_test)

In [ ]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, grid_predictions))